@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}


:root {

    --primary-color: #fc8019;
    --secondary-color: rgba(2, 6, 12, 0.6);

}


.section {
    padding: 40px 115px;
}



header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}


.nav-bar-container {
    display: flex;
    position: relative;
    background: rgb(255, 255, 255);
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* margin-bottom: 100px; */


}


.nav-bar .logo {
    position: absolute;
    left: 10px;
    top: 12px;
}

.nav-bar .logo img {

    width: 35px;
    position: absolute;
    left: 70px;

}


.nav-bar .address {
    display: flex;
    position: absolute;
    left: 170px;
    top: 24px;
}



.nav-bar p {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 510;
    /* margin-top: 15px; */
}

.nav-bar span {
    margin-top: 1px;
    margin-left: 10px;
    font-size: 15px;
    color: var(--secondary-color);
}



.nav-bar .nav-items {
    display: flex;
    list-style: none;
    position: absolute;
    right: 80px;
    top: 28px;
    color: var(--secondary-color);

}




.nav-bar .nav-items li {
    margin-left: 45px;
    transition: 0.3s ease;

}

.nav-bar .nav-items i {
    margin: 3px;
}

.nav-bar .address span i {
    color: var(--primary-color);
    margin-left: 3px;
    font-weight: 650;
}


.nav-bar .nav-items :hover {
    color: var(--primary-color);
    cursor: pointer;
}


/* Offers */


.offers {
    margin-top: 70px;
}

.offer-container {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.offer-title {
    margin: 18px 0;
    font-size: 23px;
}

.offer-container .offer-box img {

    width: 450px;
    margin-right: 20px;

}









/* Whats on your mind */


.whats-on-container {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.whats-on-title {
    margin: 18px 0;
    font-size: 23px;
}


.whats-on-container .whats-on-box {
    display: block;
    align-items: center;
    /* text-align: center; */

}


.whats-on-container .whats-on-box img {

    width: 120px;
    height: 150px;
    border-radius: 50%;
    margin-right: 60px;

}


.whats-on-container .whats-on-box .item-name {
    margin-top: 3px;
    font-size: 20px;
    margin-left: 26px;
    color: #282c3f;
}










/* Top Restaurants */


.top-rest-container {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.top-rest-title {
    margin: 18px 0;
    font-size: 23px;
}


.top-rest-container .top-rest-box {
    display: block;
    align-items: center;
    /* text-align: center; */

}


.top-rest-container .top-rest-box img {

    width: 280px;
    height: 160px;
    border-radius: 15px;
    margin-right: 30px;

}


.top-rest-container .top-rest-box .item-name {
    margin-top: 3px;
    font-size: 18px;
    margin-left: 6px;
    color: #404041;
}

.top-rest-container .top-rest-box p i {
    background-color: rgb(2, 129, 36);
    padding: 4px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 550;
    margin-left: 6px;

}


.top-rest-container .top-rest-box .rating {
    font-size: 16px;
    font-weight: 515;
}


.top-rest-container .top-rest-box .category {

    font-size: 17px;
    margin-left: 6px;
    color: var(--secondary-color);

}

.top-rest-container .top-rest-box .location {

    font-size: 17px;
    margin-left: 6px;
    color: var(--secondary-color);

}








/* Restaurants With Online Delivery*/


.rest-online-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 20px;
    /* overflow: scroll; */
    /* overflow-y: hidden; */
}

.rest-online-title {
    margin-top: 18px;

    font-size: 23px;
}



.rest-online .filter-container {
    display: flex;
}

.rest-online .filter-container .filter-btn {

    /* background-color: #d2d2d3; */
    margin: 30px 6px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 8px 15px;
    border-radius: 40px;
    font-size: 13px;
    cursor: pointer;
}




.rest-online-container .rest-online-box {
    display: block;
    align-items: center;
    /* text-align: center; */

}


.rest-online-container .rest-online-box img {

    width: 230px;
    height: 140px;
    border-radius: 15px;
    margin-right: 30px;

}


.rest-online-container .rest-online-box .item-name {
    margin-top: 3px;
    font-size: 18px;
    margin-left: 6px;
    color: #404041;
}

.rest-online-container .rest-online-box p i {
    background-color: rgb(2, 129, 36);
    padding: 4px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 550;
    margin-left: 6px;

}


.rest-online-container .rest-online-box .rating {
    font-size: 16px;
    font-weight: 515;
}


.rest-online-container .rest-online-box .category {

    font-size: 17px;
    margin-left: 6px;
    color: var(--secondary-color);

}

.rest-online-container .rest-online-box .location {

    font-size: 17px;
    margin-left: 6px;
    color: var(--secondary-color);

}



/* Best Places to Eat */

.best-places-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 20px;
}

.best-places-title {
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 23px;
}

.best-places-container .best-places-box {
    display: block;
    align-items: center;
    border: 1px solid #dadada;
    /* margin-right: 15px; */
    padding: 10px 20px;
    margin-right: 14px;
    border-radius: 10px;
    /* text-align: center; */

}

.best-places-container .best-places-box p {
    font-size: 13.5px;
    color: var(--secondary-color);
}